# Credentials
.env

# Large map data and OSRM build files
data/raw/*
!data/raw/.gitkeep
data/postgres_data/

# OS files
.DS_Store

# Docs
*.md
!README.md
/docs

# Python environment
.venv/
__pycache__/
*.pyc

# OSRM 
infra/osrm/graph/*.osrm*
infra/osrm/cache/*.json

# Generated datasets
data/master_pool/*.csv
data/instances/*.json